<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        header{
            display: grid;
            grid-template-columns: 4fr 4fr 4fr;
        }
        .img{
            height: 200px;
            width: 100px;
            margin:20px;
            padding: 20px;
        }
    </style>
</head>
<body>
    <header>
        <div class="img"  id="image1">
            <img src="/public/computers-others-wallpaper-preview.jpg " alt="image not found" title="java is awesome">
        </div>
        <div class="img"  id="image2">
            <img src="/public/491662.jpg " alt="image not found">
        </div>
        <div class="img"  id="image3">
            <img src="/public/niagara-falls-in-canada-sunset-landscape-nature-4k-ultra-hd-desktop-wallpapers-for-computers-laptop-tablet-and-mobile-phones-3840×2400-wallpaper-preview.jpg" alt="image not found">
        </div>
    </header>
</body>
</html>